<div id="form_wrapper" class="flex-grow-1">
  <%= form_with theme: 'weui', model: @organ, url: { action: 'create' } do |f| %>
    <%= render 'error_messages', target: f.object %>
    <div class="form-fields box mt-3">
      <div class="weui-cells__title">
      <% if params[:role_id].present? %>
        <span><%= @role.tip %></span>
      <% else %>
        <span><%= t('.title') %></span>
      <% end %>
      </div>
      <%= render partial: 'form', locals: { f: f } %>
    </div>
    <%= f.submit %>
  <% end %>
</div>
