<%= link_to({ controller: 'auth/board/home' }, text: true, class: 'media px-3') do %>
  <div class="media-left">
  <% if current_user.avatar.attached? %>
    <%= image_tag current_user.avatar, class: 'image is-64x64 is-radius' %>
  <% elsif current_user.name.present? %>
    <div class="is-avatar">
      <div class="text"><%= current_user.name[0] %></div>
    </div>
  <% else %>
    <%= image_tag 'default_avatar.jpg', class: 'image is-64x64 is-radius' %>
  <% end %>
  </div>
  <div class="media-content">
    <strong class="weui-media-box__title">
      <span><%= current_user.name %></span>
    </strong>
    <div class="weui-media-box__desc">
      <span class="text-weight-normal size-7"><%= current_account&.identity %></span>
    </div>
  </div>
  <div class="media-right">
    <%= svg_tag 'qrcode' %>
    <%= svg_tag 'chevron-right', class: 'icon is-small' %>
  </div>
<% end %>
