<%= button_to({ action: 'destroy' }, method: :delete, form: { data: { turbo_confirm: t('.destroy.confirm') } }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'trash' %>
  <span><%= t('.destroy.title') %></span>
<% end %>
<%= button_to({ action: 'edit' }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'pencil' %>
  <span><%= t('.edit.title') %></span>
<% end %>
<%= button_to({ action: 'show' }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'circle-info' %>
  <span><%= t('.show.title') %></span>
<% end %>
<%= link_to({ controller: 'members', organ_id: model.id }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'users-line' %>
  <span><%= t('.members.index.title') %></span>
<% end %>
<%= button_to({ action: 'invite' }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'user-plus' %>
  <span><%= t('.invite.title') %></span>
<% end %>
<%= link_to({ action: 'mock' }, class: 'cell has-column-centered') do %>
  <%= svg_tag 'hand-point-right' %>
  <span><%= t('.mock.title') %></span>
<% end %>
