<%= f.text_field :name, required: true, autofocus: true %>
<%= f.text_field :name_short %>
<%= f.text_field :code %>
<%= render partial: 'com/attachments/list_field', locals: { target: f.object.logo, f: f } %>
<%= f.text_field :license %>
<%= f.check_box :debug_enabled %>
<%= f.check_box :partnership %>
<%= f.check_box :admin %>
<%= render partial: 'com/nodes/outer_select', locals: { f: f, outer: 'area', node: @organ.area } if defined? RailsProfile %>
<% if f.object.respond_to?(:geo) %>
<div class="field is-horizontal">
  <div class="field-label"></div>
  <div
    data-controller="amap"
    data-amap-key-value="<%= Rails.app.creds.require('amap', 'key') %>"
    data-amap-code-value="<%= Rails.app.creds.require('amap', 'code') %>"
    data-amap-geo-value="<%= @ip_geo.to_json %>"
    class="field-body flex-direction-column"
  >
    <%= f.hidden_field :geo, data: { amap_target: 'input' } %>
    <div>
      <input id="tipinput" placeholder="输入关键词搜索" class="input">
    </div>
    <div data-amap-target="container" style="height: 300px"></div>
    <%= f.text_area :address, label: nil, data: { amap_target: 'address' } %>
  </div>
</div>
<% end %>
