<%= f.text_field :name, required: true, autofocus: true %>
<%= f.text_field :name_short %>
<%= f.text_field :code %>
<%= f.file_field :logo %>
<%= f.text_field :license %>
<%= render partial: 'com/nodes/outer_select', locals: { f: f, outer: 'area', node: @organ.area } if defined? RailsProfile %>
<div class="field is-horizontal">
  <div class="field-label"></div>
  <div
    data-controller="amap"
    data-amap-key-value="7581fc92c99a88bc1c3a05fa8c55f2ac"
    data-amap-geo-value="<%= @ip_geo.to_json %>"
    class="field-body flex-direction-column" style="min-height: 200px"
  >
    <%= f.hidden_field :geo, data: { amap_target: 'input' } %>
    <p>你好</p>
    <div data-amap-target="container" class="is-fullheight"></div>
  </div>
</div>
<%= f.text_area :address %>
