<th></th>
<th>
  <p><%= Org::Organ.human_attribute_name(:name) %>(<%= Org::Organ.human_attribute_name(:name_short) %>)</p>
  <p><%= Org::Organ.human_attribute_name(:created_at) %></p>
</th>
<th>
  <p><%= Org::Organ.human_attribute_name(:code) %></p>
  <p><%= Org::Organ.human_attribute_name(:official) %></p>
</th>
<th><%= Org::Organ.human_attribute_name(:roles) %></th>
<th><%= Org::Organ.human_attribute_name(:mock_roles) %></th>
<th>
  <p class="text-success">
    <span><%= Org::Organ.human_attribute_name(:members_count) %></span>
  </p>
  <p><%= Org::Organ.human_attribute_name(:address) %></p>
</th>
<th></th>
