<div id="<%= "#{model.controller}/#{model.action}" %>_control" class="control">
  <div class="tags has-addons">
    <%= link_to({ controller: model.controller, action: model.action }, target: '_blank', class: 'tag') do %>
      <span><%= model.name %></span>
    <% end %>
    <%=
      button_to(
        { controller: 'org/admin/shortcuts', action: 'destroy', id: model.id },
        method: :delete,
        aria: { label: t('org.admin.shortcuts.destroy.title') },
        form: { class: 'tag', id: "#{model.controller}/#{model.action}" }
      ) do %>
      <%= svg_tag 'star', class: 'icon is-small text-warning' %>
    <% end %>
  </div>
</div>