<td><%= authorized_token.user_id %></td>
<td><%= authorized_token.oauth_user_id %></td>
<td style="word-break: break-all"><%= authorized_token.id %></td>
<td><time data-controller="time"><%= authorized_token.expire_at.to_fs(:iso8601) %></time></td>
<td><%= authorized_token.mock_member %></td>
