<div id="tr_<%= model.id %>">
  <div class="media">
    <div class="media-left align-self-auto">
      <% if model.logo.attached? %>
        <%= image_tag model.logo, class: 'image is-64x64' %>
      <% else %>
        <%= image_tag 'logo_organ.png', class: 'image is-64x64' %>
      <% end %>
    </div>
    <%= link_to({ controller: 'factory/productions', host: model.host, **{ auth_token: Current.session&.once_token }.compact }, class: 'media-content') do %>
      <%= yield %>
    <% end %>
    <div class="media-right">
      <%= link_to({ controller: 'factory/productions', host: model.host, **{ auth_token: Current.session&.once_token }.compact }, class: 'button is-primary') do %>
        <span>去下单</span>
      <% end %>
    </div>
  </div>
  <div>
    
  </div>
</div>
