<%= link_to({ controller: 'org/me/home' }, text: true, skip_role: true, class: 'media px-3') do %>
  <div class="media-left">
  <% if current_organ.logo.attached? %>
    <%= image_tag current_organ.logo, class: 'image is-64x64 is-radius' %>
  <% else %>
    <div class="is-avatar">
      <div class="text"><%= current_organ.name[0] %></div>
    </div>
  <% end %>
  </div>
  <div class="media-content">
    <p class="text-weight-normal text-black">
      <strong><%= current_organ.name %></strong>
      <span class="tag is-primary is-light"><%= current_organ.dispatch_i18n %></span>
    </p>
    <p class="size-7 text-grey"><%= current_member.name %></p>
  </div>
  <div class="media-right text-grey">
    <%= svg_tag 'qrcode' %>
    <%= svg_tag 'chevron-right', class: 'icon is-small' %>
  </div>
<% end %>
