<td>
  <p><%= link_to model.host, model.redirect_url(port: request.port), target: '_blank', class: 'family-monospace' %></p>
  <p><span class="tag"><%= model.kind_i18n %></span></p>
</td>
<td><%= model.domain %></td>
<td><%= model.beian %></td>
<td>
  <p><%= model.redirect_controller %></p>
  <p><%= model.redirect_action %></p>
</td>
<td>
  <%= link_to({ controller: 'organs', action: 'show', id: model.organ_id }, class: 'display-block') do %>
    <%= svg_tag 'buildings' %>
    <span><%= model.organ.name %></span>
  <% end %>
  <%= link_to({ controller: 'members', organ_id: model.organ_id }, class: 'display-block mt-3') do %>
    <%= svg_tag 'users' %>
    <span><%= model.organ.name %></span>
  <% end %>
</td>
<td></td>
