<td>
  <p><%= link_to model.host, model.redirect_url(port: request.port), target: '_blank' %></p>
  <p><span class="tag"><%= model.kind_i18n %></span></p>
</td>
<td><%= model.beian %></td>
<td>
  <p><%= model.redirect_controller %></p>
  <p><%= model.redirect_action %></p>
</td>
<td><%= render partial: 'index_tr_actions', locals: { model: model } %></td>