<tr id="tr_<%= model.id %>" data-depth="<%= model.depth_str %>" data-controller="tree show" data-tree-target="item">
  <%= yield %>
  <td>
    <div data-show-target="item" class="visibility-hidden">
      <%= button_to({ action: 'show', id: model.id }, aria: { label: t('.show.title') }, class: 'button is-small is-borderless') do %>
        <%= svg_tag 'eye', class: 'icon text-info' %>
      <% end %>
      <%= button_to({ action: 'edit', id: model.id }, aria: { label: t('.edit.title') }, class: 'button is-small is-borderless') do %>
        <%= svg_tag 'pencil', class: 'icon text-link' %>
      <% end %>
      <%= button_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy.title') }, class: 'button is-small is-borderless', form: { data: { turbo_confirm: t('.destroy.confirm') } }) do %>
        <%= svg_tag 'trash', class: 'icon text-danger' %>
      <% end %>
    </div>
    <div data-show-target="item" class="visibility-hidden">
      <%= link_to({ controller: 'organ_domains', organ_id: model.id }, class: 'button is-small is-borderless') do %>
        <%= svg_tag 'mobile' %>
        <span class="ml-1"><%= t('.organ_domains.index.title') %></span>
      <% end %>
      <%= link_to({ controller: '/admin/home', auth_token: Current.session.id, host: model.admin_host }, class: 'button is-small is-borderless', target: '_blank') do %>
        <i class="fa-solid fa-hand-point-right text-success"></i>
        <span class="ml-1"><%= t('.mock') %></span>
      <% end if model != current_organ %>
    </div>
  </td>
</tr>
<% model.children.each do |child| %>
  <%= render partial: 'index_tbody', layout: 'index_tr', locals: { model: child, display: 'table-row' } %>
<% end unless model == current_organ %>
