<%= link_to({ controller: 'org/me/members', action: 'show' }, class: 'media') do %>
  <div class="media-content">
    <%= svg_tag 'user-gear' %>
    <span><%= t('.members.show.title') %></span>
  </div>
  <div class="media-right">
    <%= svg_tag 'chevron-right' %>
  </div>
<% end %>
<%= link_to({ controller: 'auth/board/oauth_users' }, class: 'media') do %>
  <div class="media-content">
    <%= svg_tag 'user' %>
    <span><%= t('auth.board.oauth_users.index.title') %></span>
  </div>
  <div class="media-right">
    <%= svg_tag 'chevron-right' %>
  </div>
<% end %>
<%= link_to({ controller: 'trade/me/home', action: 'qrcode' }, class: 'media') do %>
  <div class="media-content">
    <%= svg_tag 'qrcode' %>
    <span><%= t('trade.me.home.qrcode.title') %></span>
  </div>
  <div class="media-right">
    <%= svg_tag 'chevron-right' %>
  </div>
<% end %>
<%= link_to({ controller: 'factory/admin/organs', action: 'share_code' }, class: 'media') do %>
  <div class="media-content">
    <%= svg_tag 'qrcode' %>
    <span><%= t('factory.admin.organs.share_code.title') %></span>
  </div>
  <div class="media-right">
    <%= svg_tag 'chevron-right' %>
  </div>
<% end %>
<%= link_to({ controller: 'org/me/organs', action: 'show' }, class: 'media') do %>
  <div class="media-content">
    <%= svg_tag 'sitemap' %>
    <span><%= t('.organs.show.title') %></span>
  </div>
  <div class="media-right">
    <%= svg_tag 'chevron-right' %>
  </div>
<% end %>
