<%= f.text_field :name, required: true, autofocus: true %>
<%= f.file_field :logo %>
<%= render partial: 'com/nodes/outer_select', locals: { f: f, outer: 'area', node: @organ.area } if defined? RailsProfile %>
<div class="field is-horizontal">
  <div class="field-label"></div>
  <div
    data-controller="amap"
    data-amap-key-value="<%= Rails.app.creds.require('amap', 'key') %>"
    data-amap-code-value="<%= Rails.app.creds.require('amap', 'code') %>"
    data-amap-geo-value="<%= @ip_geo.to_json %>"
    class="field-body flex-direction-column"
  >
    <%= f.hidden_field :geo, data: { amap_target: 'input' } %>
    <div>
      <input id="tipinput" placeholder="输入关键词搜索" class="input">
    </div>
    <div data-amap-target="container" style="height: 300px"></div>
    <%= f.text_area :address, label: nil, data: { amap_target: 'address' } %>
    <%= f.text_area :address_short, maxlength: 20, data: { amap_target: 'address' } %>
  </div>
</div>
