<td>
  <div class="is-several">
    <%= image_tag model.avatar.url, class: 'image is-24x24' if model.avatar.attached? %>
    <%= link_to model.name, { action: 'show', id: model } if model.name %>
  </div>
  <p class="text-grey"><%= model.identity %></p>
</td>
<% if defined? RailsWechat %>
<td>
  <p class="family-monospace text-grey"><%= model.wechat_openid %></p>
  <p class="family-monospace text-grey"><%= model.corp_userid %></p>
</td>
<% end %>
<td><%= model.join_on %></td>
<td>
  <div class="tags">
    <% model.roles.pluck(:name).each do |role| %>
      <span class="tag"><%= role %></span>
    <% end %>
    <%= button_to({ action: 'edit_roles', id: model.id }) do %>
      <%= svg_tag 'user-shield' %>
    <% end %>
  </div>
</td>
<td>
  <%= form_with theme: 'switch', model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :owned, data: { action: 'input#submit' }, id: nil %>
  <% end %>
</td>
<td>
  <%= form_with theme: 'switch', model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :enabled, data: { action: 'input#submit' }, id: nil %>
  <% end %>
</td>
<td>
  <div data-show-target="item" class="visibility-hidden">
    <%= button_to({ action: 'show', id: model.id }, aria: { label: t('.show.title') }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'eye', class: 'icon text-info' %>
    <% end %>
    <%= button_to({ action: 'edit', id: model.id }, aria: { label: t('.edit.title') }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'pencil', class: 'icon text-link' %>
    <% end %>
    <%= button_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy.title') }, form: { data: { turbo_confirm: t('.destroy.confirm') } }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'trash', class: 'icon text-danger' %>
    <% end %>
  </div>
  <div data-show-target="item" class="visibility-hidden">
    <%= button_to({ action: 'mock', id: model.id }, data: { turbo: false }, class: 'button is-small is-borderless', form: { target: '_blank' }) do %>
      <%= svg_tag 'hand-point-right' %>
      <span class="ml-1"><%= t('.mock.title') %></span>
    <% end %>
  </div>
</td>