<td>
  <div class="is-several">
    <%= image_tag model.avatar.url, class: 'image is-24x24' if model.avatar.attached? %>
    <%= link_to model.name, { action: 'show', id: model } if model.name %>
  </div>
  <p class="text-grey"><%= model.identity %></p>
</td>
<% if defined? RailsWechat %>
<td>
  <p class="family-monospace text-grey"><%= model.wechat_openid %></p>
  <p class="family-monospace text-grey"><%= model.corp_userid %></p>
</td>
<% end %>
<td><%= model.join_on %></td>
<td>
  <div class="tags">
    <% model.roles.pluck(:name).each do |role| %>
      <span class="tag"><%= role %></span>
    <% end %>
    <%= button_to({ action: 'edit_roles', id: model.id }) do %>
      <%= svg_tag 'user-shield' %>
    <% end %>
  </div>
</td>
<td>
  <%= form_with theme: 'switch', model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :owned, data: { action: 'input#submit' }, id: nil %>
  <% end %>
</td>
<td>
  <%= form_with theme: 'switch', model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :enabled, data: { action: 'input#submit' }, id: nil %>
  <% end %>
</td>
