<th>
  <p><%= Org::Member.human_attribute_name(:name) %></p>
  <p class="text-grey"><%= Org::Member.human_attribute_name(:identity) %></p>
</th>
<th><%= Org::Member.human_attribute_name(:join_on) %></th>
<th><%= Org::Member.human_attribute_name(:role_ids) %></th>
<th><%= Org::Member.human_attribute_name(:mock_roles) %></th>
<th><%= Org::Member.human_attribute_name(:admin) %></th>
<th>
  <p><%= Org::Member.human_attribute_name(:enabled) %></p>
</th>
