<%= link_to({ controller: 'org/board/members', action: 'login', id: model.id }, class: 'media as-link') do %>
  <div class="media-content">
    <p>
      <span><%= model.organ.name %></span>
      <% if model.owned %>
        <span class="tag is-success"><%= model.owned_i18n %></span>
      <% end %>
    </p>
    <p class="size-7 text-grey"><%= model.identity %></p>
  </div>
  <div class="media-right">

    <%= svg_tag 'chevron-right' %>
  </div>
<% end %>