<%= form_with theme: 'line_phone', model: Org::Organ.new, url: { controller: 'org/board/organs', action: 'create' }, class: 'card', id: 'new_card' do |f| %>
  <div class="card-content has-column-left">
    <%= render 'error_messages', target: f.object %>
    <%= f.text_field :name, autofocus: true, required: true, placeholder: '输入名称', label: '创建新团队' %>
  </div>
  <div class="card-footer p-2">
    <div class="p-3">
      <% roles.each do |role| %>
        <%= button_tag name: 'organ[role_whos_attributes][][role_id]', value: role.id, class: 'button is-primary is-fullwidth mt-3' do %>
          <%= svg_tag 'plus' %>
          <span class="ml-1"><%= role.tip %></span>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
