<%= form_with theme: 'line_phone', model: Org::Organ.new, url: { controller: 'org/board/organs', action: 'create' }, class: 'card', id: 'new_card' do |f| %>
  <div class="card-content has-column-left">
    <%= render 'error_messages', target: f.object %>
    <%= f.text_field :name, autofocus: true, required: true, placeholder: '输入名称', label: '创建新团队' %>
    <%= f.fields :role_whos do |ef| %>
      <%= ef.hidden_field :role_id %>
    <% end %>
  </div>
  <div class="card-footer p-2">
    <%= f.submit %>
  </div>
<% end %>
