<div class="box is-padding-less">
  <div class="box-header">
    <div>
      <%= svg_tag 'building' %>
      <span><%= t('org.panel.title') %></span>
    </div>
  </div>
  <div class="fixed-grid has-3-cols is-shadow p-3">
    <div class="grid">
      <%= link_to({ controller: 'org/panel/organs' }, class: 'cell has-column-centered') do %>
        <%= svg_tag 'user-gear', class: 'icon is-medium' %>
        <div class="text-grey size-7 mt-1"><%= t('org.panel.organs.index.title') %></div>
      <% end %>
    </div>
  </div>
</div>
