<div class="card as-transparent">
  <div class="card-header">
    <div class="size-7">
      <%= svg_tag 'building' %>
      <span class="text-grey"><%= t('org.panel.title') %></span>
    </div>
  </div>
  <div class="card-content fixed-grid has-3-cols">
    <div class="grid">
      <%= link_to({ controller: 'org/panel/organs' }, class: 'cell has-column-centered') do %>
        <%= svg_tag 'user-gear', class: 'icon is-medium' %>
        <div class="text-grey size-7 mt-1"><%= t('org.panel.organs.index.title') %></div>
      <% end %>
    </div>
  </div>
</div>
