<div class="box is-padding-less">
  <%= render 'profile_item' %>
  <%= render 'cart_column' %>
</div>

<div class="box is-padding-less">
  <div class="p-3">
    <%= render 'org_item' %>
  </div>
</div>

<div class="box is-padding-less">
  <div class="p-3">
    <%= render 'trade_item' %>
  </div>
</div>

<%= render 'powered_by' %>
