<td>
  <span style="width: <%= model.depth * 1.43 %>em; display: inline-block"></span>
  <% if model.leaf? %>
    <%= svg_tag 'minus' %>
  <% else %>
    <%= svg_tag 'caret-right', data: { action: 'click->tree#expand' }, class: 'icon is-small clickable' %>
  <% end %>
  <%= link_to({ action: 'show', id: model.id}) do %>
    <span><%= model.name %></span>
    <span class="text-grey">(<%= model.all_member_departments_count %>)</span>
  <% end %>
</td>
<td>
  <%= model.needed_number %> /
  <span class="<%= active_asserts('red': model.needed_number.to_i > model.member_departments_count, 'grey': model.needed_number.to_i == model.member_departments_count, 'green': model.needed_number.to_i < model.member_departments_count) %> text">
    <%= model.member_departments_count %>
  </span>
</td>
<td>
  <% model.job_titles.each do |job_title| %>
    <div class="button is-small is-light" aria-label="<%= job_title.grade %>"><%= job_title.name %></div>
  <% end %>
  <%= link_to({ controller: 'job_titles', department_id: model.id }, aria: { label: t('.job_title') }, class: 'button is-small is-borderless') do %>
    <%= svg_tag 'user-tag' %>
  <% end %>
</td>
<td>
  <%= link_to model.leader.name, { controller: 'members', action: 'show', id: model.leader.id } if model.leader %>
</td>
<td>
  <div data-show-target="item" class="visibility-hidden">
    <%= button_to({ action: 'new', parent_id: model.id }, aria: { label: '添加下级' }, class: 'button is-link is-small') do %>
      <%= svg_tag 'plus' %>
    <% end %>
    <%#= link_to 'JD', admin_department_job_descriptions_path(model), class: 'button is-small is-borderless' %>
    <%= button_to({ action: 'show', id: model.id }, aria: { label: t('.show.title') }, class: 'button is-small is-borderless') do %>
      <i class="fa-solid fa-users text-primary"></i>
    <% end %>
    <%= button_to({ action: 'edit', id: model.id }, aria: { label: t('.edit.title') }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'pencil', class: 'icon text-link' %>
    <% end %>
    <%= button_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy.title') }, class: 'button is-small is-borderless', form: { data: { turbo_confirm: t('.destroy.confirm') } }) do %>
      <%= svg_tag 'trash', class: 'icon text-danger' %>
    <% end %>
  </div>
</td>